
@{
    ViewBag.Title = "ConfirmCart";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đã xác nhận đơn hàng, chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất</h2>
<p>@Html.ActionLink("Trang chủ","Index","TravelTour")</p>
